body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left:40px;
}
.text {
    text-align: left;
}
.universe-logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
}
.text-12{
  font-size:13px;
}

#supportHero{
  background-color:rgb(56,126,209);
  color:white;
}

#supportWrapper{
  display:flex;
  justify-content:space-between;
  margin:0 150px;
 
}

#supportHero a {
  color:white;
  margin-left:15px;
}
#supportHero input{
  padding: 20px 200px;
  width:100%;
  border-radius:10px;
  border:none;
  font-size:20px;
  
}
.line{
  line-height: 2.5rem;
}